<div class="container-fluid header">
  <%= image_tag(asset_url("tiy-logo.png"), width: 200) %>
  <h1>Presentation Day - April 21, 2016</h1>
  <h3>The Iron Yard - Durham Campus  |  Cohort 6</h3>
  <div class="call-to-action">
    <a class="btn btn-default btn-lg" href="#projects" role="button">Check out the projects &rarr;</a>
  </div>
</div>

<div class="container-fluid">
  <a name="projects"></a>
  <table class="table table-striped">

    <% @projects.each do |project| %>
      <tr>
        <td>
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1> <%= project.name %> </h1>
              <p> <%= project.description.gsub(/\n/, '<br/>').html_safe  %> </p>
              <h3>Members</h3>

              <% project.students.each do |student| %>
                <div class="col-md-3 member center">
                  <%= image_tag("https://s3-us-west-2.amazonaws.com/ironyarddurham/headshots/byron_wall.jpg", class: "img-small") %>
                  <h3> <%= student.name %> </h3>

                  <% if student.github_link %>
                    <a href="<%= student.github_link %>" target="_blank"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
                  <% end %>

                  <% if student.twitter_link %>
                    <a href="<%= student.twitter_link %>" target="_blank"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
                  <% end %>

                  <% if student.email_address %>
                    <a href="mailto:<%= student.email_address %>"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></a>
                  <% end %>

                </div>
              <% end %>

            </div>
          </div>
        </td>
      </tr>
    <% end %>

  </table>

</div>
